<div class="ui hidden section divider"></div>

<div class="ui text container segment very padded raised">

  <h2 class="ui center aligned dividing header">
    <i class="tasks icon"></i>
    Todo App
  </h2>
  <div class="ui one column centered grid">
    <div class="eight wide column">
      <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" class="ui form" novalidate>
        <div class="field" [ngClass]="{ 'error': f.submitted && !username.valid }">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" [(ngModel)]="new_user.username" #username="ngModel"
                   required placeholder="username"/>
          </div>
          <div *ngIf="f.submitted && !username.valid" class="ui pointing red label">
            Username is required
          </div>
        </div>
        <div class="field" [ngClass]="{ 'error': f.submitted && !password.valid }">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" [(ngModel)]="new_user.password" #password="ngModel"
                   required placeholder="password"/>
          </div>
          <div *ngIf="f.submitted && !password.valid" class="ui red pointing label">
            Password is required
          </div>
        </div>
        <div class="field" [ngClass]="{ 'error': f.submitted && !email.valid }">
          <div class="ui left icon input">
            <i class="mail icon input"></i>
            <input type="email" class="form-control" name="email" [(ngModel)]="new_user.email"
                   #email="ngModel" required placeholder="email"/>
          </div>
          <div *ngIf="f.submitted && !email.valid" class="ui red pointing label">
            Email is required
          </div>
        </div>

        <button [disabled]="loading" class="ui fluid primary button" type="submit">
          Register
          <div *ngIf="loading" class="ui active small inverted inline loader"></div>
        </button>

        <p>
          Already have an account?
          <a [routerLink]="['/login']">Login</a>
        </p>

      </form>
    </div>
  </div>
</div>
