<div class="ui menu">
  <div class="ui text container">
    <a class="item" [routerLink]="['/tasks']">
      <i class="tasks icon"></i>
      Tasks
    </a>
    <a class="item" [routerLink]="['/profile']">
      <i class="user icon"></i>
      Profile
    </a>
    <div class="right menu">
      <div class="ui item">
        <img class="ui avatar image"
             src="{{apiUrl}}/containers/profile_pictures/download/{{user.picture}}" alt="">
        <span>{{user.username}}</span>
      </div>
      <a class="ui item" (click)="logout()">
        <i class="sign out icon"></i>
        Logout
      </a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
