<div class="ui hidden section divider" *ngIf="message"></div>

<div class="ui text container">
  <div *ngIf="message" class="ui floating icon message"
       [ngClass]="{
      'success': message.type == 'success',
      'error': message.type == 'error'
     }">
    <i class="warning sign icon" *ngIf="message.type == 'success'"></i>
    <i class="checkmark sign icon" *ngIf="message.type == 'success'"></i>

    <div class="content">
      <div class="header" *ngIf="message.type == 'success'">
        Success
      </div>
      <div class="header" *ngIf="message.type == 'error'">
        Error
      </div>
      <p>{{message.text}}</p>
    </div>

  </div>
</div>
