/*move the element a lil bit in order to make it at equal position*/
/*of the input that makes the task editable*/
.tega-bel {
  position: relative;
  top: 9px;
  left: 15px;
  display: flex;  /* make the element fluid to fill its container */
}

/*strike through like style*/
.serez {
  text-decoration: line-through;
}


