<div class="ui segment">
  <div class="ui grid">
    <div class="two wide column">
      <div class="ui left floated large checkbox tega-bel">
        <input type="checkbox" [(ngModel)]="task.isDone" (change)="changeTaskState()">
        <label>&nbsp;</label>
      </div>
    </div>
    <div class="twelve wide column">
      <p *ngIf="!isEditing" class="tega-bel" [ngClass]="{'serez': task.isDone}"
         (click)="isEditing = true" style="font-size: 1.2em;">
        {{ task.description }}
      </p>
      <div class="ui fluid input" *ngIf="isEditing">
        <input type="text" [(ngModel)]="task.description" style="font-size: 1.2em;"
               (change)="editTaskDescription()" (focus)="formerDescription = task.description"
               (blur)="isEditing = false">
      </div>
    </div>
    <div class="two wide column">
      <button class="ui basic large icon button" (click)="deleteTask()">
        <i class="trash icon"></i>
      </button>
    </div>
  </div>
</div>
