<div class="ui pagination menu" *ngIf="pages.length">
  <a class="item" [routerLink]="['/tasks', {'page': (current_page == 1)? 1 : (current_page - 1) } ]">
    <i class="chevron left icon"></i>
  </a>

  <a class="item" *ngFor="let page of pages" [routerLink]="['/tasks',{'page': page}]"
     [ngClass]="{'active blue': current_page == page, 'disabled': current_page === -1}">
    <span *ngIf="current_page !== -1"><b>{{page}}</b></span>
    <span *ngIf="current_page === - 1">...</span>
  </a>

  <a class="item"
     [routerLink]="['/tasks', {'page': (current_page == total_pages)? total_pages : (current_page + 1)}]">
    <i class="chevron right icon"></i>
  </a>
</div>
