<div class="ui hidden section divider"></div>
<div class="ui text container segment very padded raised">

  <h2 class="ui center aligned dividing header">
    <i class="tasks icon"></i>
    Todo App
  </h2>
  <p-messages></p-messages>
  <div class="ui one column centered grid">
    <div class="eight wide column">
      <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" class="ui form" novalidate>

        <div class="field" [ngClass]="{ 'error': f.submitted && !username.valid}">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" [(ngModel)]="user.username"
                   #username="ngModel" required id="username" placeholder="username">
          </div>
          <div *ngIf="f.submitted && !username.valid" class="ui pointing red label">
            Username is required
          </div>
        </div>

        <div class="field" [ngClass]="{ 'error': f.submitted && !password.valid}">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" [(ngModel)]="user.password"
                   #password="ngModel" required id="password" placeholder="password">
          </div>
          <div *ngIf="f.submitted && !password.valid" class="ui pointing red label">
            Password is required
          </div>
        </div>

        <button [disabled]="loading" class="ui fluid primary button" type="submit">
          Login
          <div *ngIf="loading" class="ui active small inverted inline loader"></div>
        </button>

        <div class="ui divider"></div>

        <p style="text-align: center;">
          Don't have an account??
          <a [routerLink]="['/register']" class="btn btn-link"> Register</a>
        </p>
      </form>
    </div>
  </div>
</div>
