<div class="ui text container">
  <h2 class="ui center aligned dividing header">
    Profile
  </h2>

  <p-messages></p-messages>
  <div class="ui one column centered grid">
    <div class="eight wide column">
      <form [formGroup]="myForm" (ngSubmit)="myForm.valid && update()" class="ui form" novalidate>

        <div class="field" [ngClass]="{ 'error': myForm.submitted && myForm.controls.email.invalid}">
          <label for="email">Email</label>
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input type="email" name="email" formControlName="email" email
                   id="email" placeholder="email">
          </div>

          <div *ngIf="myForm.dirty && myForm.invalid && myForm.controls.email.errors.required"
               class="ui pointing red label">
            Email is required
          </div>
          <div *ngIf="myForm.dirty && myForm.invalid && myForm.controls.email.errors.email"
               class="ui pointing red label">
            Incorrect email format
          </div>
        </div>

        <div class="field">
          <label>Profile Picture</label>
          <div class="ui left icon input">
            <i class="picture icon"></i>
            <input type="file" name="fileInput" #fileInput [formControl] accept="image/png,image/jpeg,image/jpg" />
            <!--[ng2FileType]="['image/jpeg','image/jpg','image/png']"-->
            <!--[fileTypeErrorMsg]="'File must be an image'" />-->

          </div>

        </div>

        <button [disabled]="loading" class="ui fluid primary button" type="submit">
          Update
          <div *ngIf="loading" class="ui active small inverted inline loader"></div>
        </button>

        <div class="ui divider"></div>

      </form>
    </div>
  </div>


</div>
