<div class="ui text container">
  <h2 class="ui center aligned dividing header">
    Current Tasks
  </h2>
  <p-messages></p-messages>
  <form name="form" class="ui form" (ngSubmit)="f.form.valid && addTask()" #f="ngForm" novalidate>
    <div class="field">
      <input type="text" name="task" [(ngModel)]="new_task.description"
             #task="ngModel" placeholder="Add new task" required>
    </div>
  </form>
  <div class="ui segments" *ngIf="tasks">

    <task *ngFor="let t of tasks" [task]="t" (taskDeleted)="removeTask($event)">

    </task>

  </div>

  <div class="ui segment centered" *ngIf="!tasks">
    You have no tasks. <br>
    Create new task.
  </div>

  <pagination [reload]="reload_pagination"></pagination>

</div>
